body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header {
  background-color: #2a2a2a;
  padding: 16px;
}

header img {
  padding: 6px 60px;
}

nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 16px;
  margin: 5px 0px 2px 0px
}

nav a {
  text-transform: uppercase;
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all .2s;
}

nav a:hover {
  color: white;
}

nav a#active {
  background-color: #107698
}

nav a#orangetext {
  color: orange;
}

/* first section */
#ourSevices {
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  background-position: center;
  padding: 70px 0px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  text-shadow: rgb(0 0 0) 1px 2px 2px;
}

/* second section */
h2 {
  font-size: 34px;
  color: #0a465b;
  text-align: center;
  padding-top: 50px;
  font-weight: 300;
}

p {
  color: #7f969e;
  font-size: 17px;
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding: 30px 0px 60px 0px;
  line-height: 1.4;

}

p span {
  color: orange;
}

/* third section */
#thirdSecs {
  background-color: #EDEff3;
  padding: 50px 0 70px;
}

.mainBox {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 150px 10px 150px;
}

.box {
  max-width: 263px;
height: 340px;
box-sizing: border-box;

margin-top: 50px;
margin-right: 32px;
margin-bottom: 30px;
background: #fff;
border: 0px solid #dedede;
box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
}

.box h2 {
  30px;
  padding: 15px 20px 15px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  font-variant: small-caps;
  background-color: #107698;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
  min-height: 110px;
  font-size: 30px;
}

.box p {
  padding: 20px 25px;
  font-size: 14px;
  line-height: 1.4;
  box-sizing: border-box;
  box-shadow: 2px 5px 5px #cdcdcd;
  background-color: white;
  height: 240px;
}

.seprate {
  width: 100%;
  background-color: #d1d1d0;
  height: 5px;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);


}

#it {
  padding: 35px 20px 42px 20px;
}

#XxxHhh {
  padding-top: 0px;
}


/* SectionFour */

.SecFourMain {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0px 120px;
  padding: 20px 0px 20px 0px;
}

.secFour h3 {
  font-size: 20px;
    color: #0a465b;
    border-bottom: 2px #FDB530 solid;
    text-align: center;
    margin-top: 0px
;
    font-variant: small-caps;
    width: 60%;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

.secFour p {
  padding: 15px;
  display: inline-block;
  font-size: 14px;
  margin: 0px 40px;

}

/* Section five */

#sectionFive {
  background-color: #EDEff3;
    padding: 50px 0 50px;
    width: 100%;

}

.SecFiveMain {
  display: inline-flex;
flex-flow: row;
justify-content: space-around;
padding: 0px 150px 0px 150px
}

.SecFivebox {

box-sizing: border-box;

margin-top: 50px;
margin-right: 32px;
margin-bottom: 30px;
margin-left: 32px;
/* background: #fff; */
border: 0px solid #dedede;
/* box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%); */
}



.SecFivebox h2 {
  30px;
  padding: 24px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  font-variant: small-caps;
  background-color: #107698;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;

  font-size: 25px;


}

.SecFivebox p {
  background-color: white;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
  font-size: 14px;
  padding: 20px 25px;

      display: inline-block;
      line-height: 1.6;
      height: 240px;
}

.Secfive p {
  padding: 32px 0px 24px 0px;
}

.Secfive h2 {
  padding: 8px 0px 0px 0px;
}


/* section six  */

.portrait {

    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 225px;
}

#circleImage {
  display: inline-block;
    border-radius: 50%;
    border: 8px solid rgba(253, 181, 48, .7);

}

.lineTopic {
  width: 260px;
    border-top: 1px solid #107698;
    border-bottom: 1px solid #107698;
    padding: 10px 0;
    margin-top: 16px;
    position: relative;
    left: -30px;
}

.sidha {
  display: inline-block;
  flex-flow: row;
  padding: 0px 50px 0px 50px;
}

#arrow {
  padding: 0px 50px;
}


#sixH {
  padding-top: 20px;
  padding-bottom: 60px;
}

#contactTap {
  width: 165px;
    font-size: 22px;
    text-transform: capitalize;
    color: white;
    padding: 15px 0px 15px 50px;
    background-color: #107698;
    border: 2px solid #FDB530;
    border-radius: 4px;
    top: 0px;
    margin-left: 65px;
    text-decoration: none;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 50%);

}

.contactTap:hover {
  transition: white;
}

#badiDiv {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-around;
  padding-bottom: 50PX;
}

.ContactDiv {
  padding: 32px 0px 0px 32px
}

.social {
  padding: 84px 0px 0px 32px;
}

.media {
  display: inline-block;
    border: 5px solid #dfdfe0;
    border-radius: 50%;
    margin: 0 12px;
    position: relative;
    top: 0px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

#textdeco {
  text-decoration: none;
}

.lineTopic h3 {
  margin-left: 45px;
}


/* Section seven */

#secSeven {
  width: 100%;
    padding: 50px 0;
    background-color: #EDEff3;
    /* height: 120px; */
}

#sevenH {
padding-top: 8px;
}

#sevenImg {
  padding: 39px 150px 15px 232px;
}


/* footer */

footer  {
  width: 100%;
padding: 40px 0;
background-color: #504f4f;
color: #c7c5c5;
text-align: center;
font-size: 16px;
font-weight: lighter;
}

footer section div {
  display: inline-block;
width: 50%;
line-height: 1.4;
}
